  @import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css');
  @import  url('../reset.css');
  @import url('../adaptive.css');
  @import "content.css";
  @import url('../layout.css');
  @import url('../menu.css');

 @import url('../animation.css');
 @font-face {
 font-family: 'Lack Regular';
  src: url('../fonts1/Lack-Regular.otf') format('opentype');
  src: url('../fonts1/Lack-Regular.woff') format('woff');
  src: url('../fonts1/Lack-Regular.woff2') format('woff2');
  src: url('../fonts1/Lack-Regular.eot') format('eot');
 font-weight: normal;
 font-style: normal;
}
