@media screen and (min-width: 1921px) {
  body {
    width: 100%;
  }
  .container_news {
    width: 100%;
  }
  .menu {
    width: 100%;
  }
  .container_request {
    width: 100%;
  }
  .menu_main {
    width: 100%;
  }
}

@media screen and (max-width: 1921px) {
  body {
    width: 1920px;
  }
  .container_news {
    display: grid;
  	grid-template-columns: 3px 0.46fr 3px 0.67fr 3px 1.7fr 3px 0.5fr 3px 1.1fr 3px 1.1fr 3px 1.1fr 3px 0.6fr 3px 1.7fr 3px;
  	grid-template-rows: 3px 0.7fr 3px 1.6fr 3px 0.9fr 3px 1.3fr 3px 1fr 3px;
  	grid-template-areas:
  	  "hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1"
  	  "ver1 lectures lectures lectures lectures lectures lectures lectures ver2 photo1 photo1 photo1 photo1 photo1 ver4 photo2 photo2 photo2 ver6"
  	  "ver1 hor2 hor2 hor2 hor2 hor2 hor2 hor2 ver2 photo1 photo1 photo1 photo1 photo1 ver4 photo2 photo2 photo2 ver6"
  	  "ver1 info1 info1 info1 info1 info1 info1 info1 ver2 photo1 photo1 photo1 photo1 photo1 ver4 photo2 photo2 photo2 ver6"
  	  "ver1 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 ver6"
  	  "ver1 photo3 photo3 photo3 photo3 photo3 photo3 photo3 ver3 bigtext bigtext bigtext bigtext bigtext ver5 last-news last-news last-news ver6"
  	  "ver1 photo3 photo3 photo3 photo3 photo3 photo3 photo3 ver3 bigtext bigtext bigtext bigtext bigtext ver5 hor5 hor5 hor5 ver6"
  	  "ver1 photo3 photo3 photo3 photo3 photo3 photo3 photo3 ver3 bigtext bigtext bigtext bigtext bigtext ver5 red-photo red-photo red-photo ver6"
  	  "ver1 photo3 photo3 photo3 photo3 photo3 photo3 photo3 ver3 hor6 hor6 hor6 hor6 hor6 ver5 red-photo red-photo red-photo ver6"
  	  "ver1 photo3 photo3 photo3 photo3 photo3 photo3 photo3 ver3 wannabe wannabe wannabe wannabe wannabe ver5 red-photo red-photo red-photo ver6"
  	 "hor4 hor4 hor4 hor4 hor4 hor4 hor4 hor4 hor4 hor4 hor4 hor4 hor4 hor4 hor4 hor4 hor4 hor4 hor4";
    width: 1920px;
  	z-index: 3;
  }
  .menu_main {
  	display: grid;
  	grid-template-columns: 3px 0.46fr 3px 0.67fr 3px 1.7fr 3px 0.5fr 3px 1.1fr 3px 1.4fr 3px 1fr 3px 0.4fr 3px 1.7fr 3px;
  	grid-template-rows: 3px 1fr;
  	gap: 0px 0px;
  	grid-auto-flow: row;
  	grid-template-areas:
  	  "ver1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 ver1_8"
  	  "ver1_1 about about about ver1_3 building ver1_4 agents agents agents ver1_5 news ver1_6 list list list ver1_7 request ver1_8";
    width: 1920px;
    /* height: 4.25%; */
  }
  .menu {
  	display: grid;
  	grid-template-columns: 3px 0.46fr 3px 0.67fr 3px 1.7fr 3px 0.5fr 3px 1.1fr 3px 1.4fr 3px 1fr 3px 0.4fr 3px 1.7fr 3px;
  	grid-template-rows: 3px 1fr;
  	gap: 0px 0px;
  	grid-auto-flow: row;
  	grid-template-areas:
  	  "ver1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 hor1_1 ver1_8"
  	  "ver1_1 back ver1_2 about ver1_3 building ver1_4 agents agents agents ver1_5 news ver1_6 list list list ver1_7 request ver1_8";
    width: 1920px;
  }
  .container_building {
    display: grid;
    grid-template-columns: 3px 0.47fr 0.68fr 1.7fr 0.5fr 1.1fr 3px 1.1fr 1.1fr 0.6fr 1.7fr 3px;
    grid-template-rows: 3px 1fr 3px 1fr 3px;
    grid-auto-flow: row;
    grid-template-areas:
      "ver1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 ver3"
      "ver1 photo1 photo1 photo1 photo1 photo1 ver2 vacancies vacancies vacancies vacancies ver3"
      "ver1 photo1 photo1 photo1 photo1 photo1 ver2 hor2 hor2 hor2 hor2 ver3"
      "ver1 photo1 photo1 photo1 photo1 photo1 ver2 photo2 photo2 photo2 photo2 ver3"
      "ver1 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 ver3";
    width: 1920px;
  	height: 1050px;
  }
  .container_request {
    display: grid;
    grid-template-columns: 3px 0.47fr 0.68fr 1.71fr 0.511fr 1.1fr 3px 1.2fr 3px 1fr 3px 0.6fr 1.7fr 3px;
    grid-template-rows: 3px 1.1fr 3px 6fr 3px 2.2fr 3px 0.9fr 3px;
    grid-auto-flow: row;
    grid-template-areas:
      "ver1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 ver7"
      "ver1 services services services services services ver2 agents_1 agents_1 agents_1 agents_1 agents_1 agents_1 ver7"
      "ver1 hor2 hor2 hor2 hor2 hor2 hor2 hor2 hor2 hor2 hor2 hor2 hor2 ver7"
      "ver1 choice_s choice_s choice_s choice_s choice_s ver3 choice_a choice_a choice_a choice_a choice_a choice_a ver7"
      "ver1 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 ver7"
      "ver1 info info info info info ver4 filter1 filter1 filter1 ver5 filter filter ver7"
      "ver1 hor4 hor4 hor4 hor4 hor4 ver4 hor5 hor5 hor5 hor5 hor5 hor5 ver7"
      "ver1 black black black black black black black black black next_2 next_2 next_2 ver7"
      "ver1 hor6 hor6 hor6 hor6 hor6 hor6 hor6 hor6 hor6 hor6 hor6 hor6 ver7";
    width: 1920px;
    height: 985px;
  }
  .new_grid {
    grid-template-areas:
    "ver1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 hor1 ver7"
    "ver1 services services services services services ver2 agents_1 agents_1 agents_1 agents_1 agents_1 agents_1 ver7"
    "ver1 hor2 hor2 hor2 hor2 hor2 hor2 hor2 hor2 hor2 hor2 hor2 hor2 ver7"
    "ver1 choice_s choice_s choice_s choice_s choice_s ver3 choice_a choice_a choice_a choice_a choice_a choice_a ver7"
    "ver1 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 hor3 ver7"
    "ver1 info info info info info ver4 filter1 filter1 filter1 ver5 filter filter ver7"
    "ver1 hor4 hor4 hor4 hor4 hor4 ver4 hor5 hor5 hor5 ver5 filter filter ver7"
    "ver1 black black black black black ver4 reset ver6 next ver5 filter filter ver7"
    "ver1 hor6 hor6 hor6 hor6 hor6 hor6 hor6 hor6 hor6 hor6 hor6 hor6 ver7"
  }
  h4 {
    font-size: 1.7vw;
    line-height: 92px;
  }
}
@media screen and (max-width: 1441px) {
  body {
  	height: 1280px;
    width: 1440px;
  }
  .container_news {
    width: 1440px;
    height: 830px;
  }
  .container_request {
    width: 1440px;
    height: 830px;
  }
  .menu {
    width: 1440px;
    height: 70px;
  }
  .banner_menu, .banner1_menu {
  	width: 1434px;
    height: 100px;
  }

  .posters_show {
  	width: 1440px;
  	height: 50%;
  }
  .ver1_1, .back, .ver1_2, .about, .ver1_3, .building, .ver1_4, .agents, .ver1_5, .news, .ver1_6, .list, .ver1_7, .request, .ver1_8 {
    height: 70px;
  }
  h4 {
    line-height: 72px;
    font-size: 1.8vw;
  }
  h1 {
    font-size: 4.3vw;
    line-height: 160%;
  }
  h2 {
    font-size: 3.1vw;
    padding-top: 2.1vw;
  }
  h3 {
    font-size: 3.1vw;
    padding-top: 1.6vw;
  }
  h5 {
    font-size: 2vw;
  }
  .cursor_img {
    margin-left: 36%;
    margin-top: -63.5%;
    width: 70px;
    height: 70px;
  }
  .circle_blur {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    filter: blur(43px);
  }
}
@media screen and (max-width: 1367px) {
  body {
  	height: 1280px;
    width: 1366px;
  }
  .posters_show {
    width: 1366px;
    height: 50%;
  }
  .container_news {
    width: 1366px;
    height: 708px;
  }

  .menu_news {
    width: 1366px;
    height: 60px;
  }
  .banner_menu, .banner1_menu {
  	width: 1360px;
    height: 100px;
  }
  .ver1_1, .back, .ver1_2, .about, .ver1_3, .building, .ver1_4, .agents, .ver1_5, .news, .ver1_6, .list, .ver1_7, .request, .ver1_8 {
    height: 60px;
  }
}
@media screen and (max-width: 1025px) {

}
@media screen and (max-width: 415px) {

}
@media screen and (max-width: 360px) {

}

@media screen and (min-width: 1023px) {
  .container {
  width: 100%;
  }
}
@media screen and (min-width: 1365px) {
  .container {
  width: 100%;
  }
}
