body {
font-family: 'Montserrat', sans-serif;
	height: 1080px;
	width: 1920px;
	overflow: hidden;
	cursor: crosshair;
}
#circle {
	position: absolute;
}
.cursor_img {
	position: absolute;
	background-image: url(../images/cursor.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 34%;
	margin-top: -65%;
	z-index: 2;
	width: 80px;
	height: 80px;
}
.circle_blur {
	width: 250px;
	height: 250px;
	background-color: #FF0000;
	border-radius: 50%;
  filter: blur(50px);
	z-index: 2;
}
.radial-gradient {
  /* position:fixed; */
  top:0px;
  left:0px;
  width:100%;

  /*Fallback if gradeints don't work */
  background: #FF4A4A;
  /*Linear gradient... */
  background:
    radial-gradient(
     at center, #FF0000, #FFFFFF
    );
}

.ver1 {
	grid-area: ver1;
	background-color: black;
	z-index: 3;
}
.ver2 {
	grid-area: ver2;
	background-color: black;
	z-index: 3
}
.hor1 {
	grid-area: hor1;
	background-color: black;
	z-index: 3;
}
.hor2 {
	grid-area: hor2;
	background-color: black;
	z-index: 3;
}
.hor3 {
	grid-area: hor3;
	background-color: black;
	z-index: 3;
}
.banner { grid-area: banner;
background-color: white;
z-index: 3;
}

.boucat {
	grid-area: boucat;}
}

.add_black {
	background-color: black;
}
.add_black1 {
	border-color: black;
}
.add_grey1 {
	border-color: #DADADA;
	background-color: #DADADA;
}

.white_back {
	background-color: white;
	height: 36.8%;
	width: 36.66%;
	position: absolute;
	z-index: 0;
	margin-top: 21.55vw;
	margin-left: 37.05vw;
}
.white_back1 {
	background-color: white;
	height: 26.5%;
	width: 37.2%;
	position: absolute;
	z-index: 0;
	margin-top: 6.65vw;
}

.add_white {
	background-color: white;
}
.add_grey {
	background-color: #DDDDDD;
}
.tr-over {
  background-color: #FF4A4A;
	background: #FF4A4A;
}
