body {
  /* background-color: black; */
	  background-color: black;
		height: 1080px;
		width: 1920px;
}
#circle {
	width: 250px;
	height: 250px;
	background: #FF0000;
	border-radius: 50%;
	position: absolute;
  filter: blur(50px);
	z-index: 2;
}
.menu {
	display: grid;
  grid-template-columns: 0.46fr 0.67fr 1.7fr 0.5fr 1.1fr 1.1fr 1.1fr 0.6fr 1.7fr;
  grid-template-rows: 1fr;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas:
    "back about building agents agents news list list request";
  width: 1898px;
  height: 92px;
  border: 3px solid black;

}

.back { grid-area: back;
background-color: black;
z-index: 2;
}

.about { grid-area: about;
background-color: white;
z-index: 2;
}

.building { grid-area: building;
background-color: white;
z-index: 2;
}

.agents { grid-area: agents;
background-color: white;
z-index: 2;
}

.news { grid-area: news;
background-color: #FF4A4A;
z-index: 2;
}

.list { grid-area: list;
background-color: white;
z-index: 2;
}

.request { grid-area: request;
background-color: white;
z-index: 2;
}

.container {
  display: grid;
  grid-template-columns: 0.46fr 0.67fr 1.7fr 0.5fr 1.1fr 1.1fr 1.1fr 0.6fr 1.7fr;
  grid-template-rows: 0.7fr 1.6fr 0.9fr 1.3fr 1fr;
  gap: 3px 3px;
  grid-template-areas:
   "lectures lectures lectures lectures photo1 photo1 photo1 photo2 photo2"
   "info1 info1 info1 info1 photo1 photo1 photo1 photo2 photo2"
   "photo3 photo3 photo3 photo3 bigtext bigtext bigtext last-news last-news"
   "photo3 photo3 photo3 photo3 bigtext bigtext bigtext red-photo red-photo"
   "photo3 photo3 photo3 photo3 wannabe wannabe wannabe red-photo red-photo";
  width: 1898px;
  height: 987px;
  border: 3px solid black;
  margin-top: -2px;
	z-index: 3;
}

.lectures {
	grid-area: lectures;
	background-color: white;
	z-index: 2;
}

.info1 {
	grid-area: info1;
	z-index: 2;
}
.circles {
	padding-left: 42%;
	padding-top: 4%;

}
.circle1 {
	background-color: #DADADA;
	border-radius: 100%;
	width: 17px;
	height: 17px;
	float: left;
}
.circle2 {
	background-color: #DADADA;
	border-radius: 100%;
	width: 17px;
	height: 17px;
	float: left;
  margin-left: 6%;
}
.circle3 {
	background-color: #DADADA;
	border-radius: 100%;
	width: 17px;
	height: 17px;
	float: left;
	margin-left: 6%;
}

i {
    border: solid black;
		border-width: 0 4px 4px 0;
		display: inline-block;
		padding: 8px;
}

.left {
    -webkit-transform: rotate(135deg);
		margin-left: -32%;
}

.right {
    -webkit-transform: rotate(-45deg);
		margin-left: 45%;
}

.photo1 { grid-area: photo1;
	background-image: url(images/posters1.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
}

.photo2 { grid-area: photo2;
	background-image: url(images/poster2.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
}

.last-news { grid-area: last-news;
background-color: white;
z-index: 2;
}

.bigtext {
	grid-area: bigtext;
	z-index: 2;
}
.white_back {
	background-color: white;
	height: 36.8%;
	width: 36.66%;
	position: absolute;
	z-index: 0;
	margin-top: 21.55vw;
	margin-left: 37.05vw;
}
.white_back1 {
	background-color: white;
	height: 26.5%;
	width: 37.5%;
	position: absolute;
	z-index: 0;
	margin-top: 6.65vw;
}
.photo3 { grid-area: photo3;
background-color: white;
}

.wannabe {
	grid-area: wannabe;
	background-color: black;
	z-index: 2;
}

.red-photo { grid-area: red-photo;
background-color: white;
}
.tr-over {
  background-color: #FF4A4A;
	background: #FF4A4A;
}
