html, body {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 4.6vw;
  color: black;
  vertical-align: top;
  text-align: center;
  line-height: 150%;
}
.h1_white {
  color: white;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
  vertical-align: top;
  text-align: center;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
  vertical-align: top;
  text-align: left;
  padding-left: 7%;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
  text-align: center;
  margin-right: 2px
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.9vw;
  color: black;
  text-align: left;
  line-height: 50px;
  padding-left: 5%;
  margin-top: 4%;
  text-decoration-line: underline;
}
h6 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 28vw;
  color: transparent;
  text-align: left;
  -webkit-text-stroke: 3px black;
  text-stroke: 3px black;
}
.white {
  color: white;
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  line-height: 9vw;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.45vw;
  color: black;
  padding-left: 1.6vw;
  padding-top: 1.6vw;
  line-height: 1.8vw;
  vertical-align: top;
  text-align: left;
  width: 738px;
 }
