html, body {
  font-family: Lack Regular !important;
}
h1 {
  font-family: Lack Regular;
  font-size: 4.6vw;
  color: black;
  vertical-align: top;
  text-align: center;
  line-height: 150%;
}
.h1_white {
  color: white;
}

h2 {
  font-family: Lack Regular;
  font-size: 3vw;
  color: black;
  vertical-align: top;
  padding-top: 1.8vw;
  text-align: center;
}
h3 {
  font-family: Lack Regular;
  font-size: 3vw;
  color: black;
  vertical-align: top;
  padding-top: 1.3vw;
  text-align: left;
  padding-left: 7%;
}
h4 {
  font-family: Lack Regular;
  font-size: 1.7vw;
  color: black;
  text-align: center;
  line-height: 92px;
  margin-right: 2px
}
h5 {
  font-family: Lack Regular;
  font-size: 1.9vw;
  color: black;
  text-align: left;
  line-height: 50px;
  padding-left: 5%;
  margin-top: 4%;
  text-decoration-line: underline;
}
.white {
  color: white;
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  line-height: 9vw;
}
p {
  font-family: Lack Regular;
  font-size: 1.5vw;
  color: black;
  padding-left: 1.6vw;
  padding-top: 1.6vw;
  line-height: 1.8vw;
  vertical-align: top;
  text-align: left;
  width: 738px;

 }
