body {
	height: 1750px;
	cursor: crosshair;
}
#circle {
	position: absolute;
}
.cursor_img {
	position: absolute;
	background-image: url(../images/cursor.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 34%;
	margin-top: -65%;
	z-index: 2;
	width: 80px;
	height: 80px;
}
.circle_blur {
	width: 250px;
	height: 250px;
	background-color: #FF0000;
	border-radius: 50%;
  filter: blur(50px);
	z-index: 2;
}

.ver1_1 {
	grid-area: ver1_1;
	background-color: black;
	z-index: 3
}
.ver1_2 {
	grid-area: ver1_2;
	background-color: black;
	z-index: 3
}
.ver1_3 {
	grid-area: ver1_3;
	background-color: black;
	z-index: 3
}
.ver1_4 {
	grid-area: ver1_4;
	background-color: black;
	z-index: 3
}
.ver1_5 {
	grid-area: ver1_5;
	background-color: black;
	z-index: 3
}
.ver1_6 {
	grid-area: ver1_6;
	background-color: black;
	z-index: 3
}
.ver1_7 {
	grid-area: ver1_7;
	background-color: black;
	z-index: 3
}
.ver1_8 {
	grid-area: ver1_8;
	background-color: black;
	z-index: 3
}
.hor1_1 {
	grid-area: hor1_1;
	background-color: black;
	z-index: 3
}

.back {
	grid-area: back;
	background-color: black;
	z-index: 2;
}

.about {
	grid-area: about;
	background-color: white;
	z-index: 2;
}
.building {
	grid-area: building;
	background-color: white;
	z-index: 2;
}

.agents {
	grid-area: agents;
	background-color: white;
	z-index: 2;
}
.news {
	grid-area: news;
	background-color: #FF4A4A;
	z-index: 2;
}

.list {
	grid-area: list;
	background-color: white;
	z-index: 2;
}
.request {
	grid-area: request;
	background-color: white;
	z-index: 2;
}
.posters_show {
	width: 1920px;
	height: 50%;
	background-color: black;
}
.ver1 {
	grid-area: ver1;
	background-color: black;
	z-index: 3;
}
.hor1 {
	grid-area: hor1;
	background-color: black;
	z-index: 3;
}
.ver2 {
	grid-area: ver2;
	background-color: black;
	z-index: 3
}
.ver3 {
	grid-area: ver3;
	background-color: black;
	z-index: 3
}
.ver4 {
	grid-area: ver4;
	background-color: black;
	z-index: 3
}
.ver5 {
	grid-area: ver5;
	background-color: black;
	z-index: 3
}
.ver6 {
	grid-area: ver6;
	background-color: black;
	z-index: 3
}
.hor2 {
	grid-area: hor2;
	background-color: black;
	z-index: 3;
}
.hor3 {
	grid-area: hor3;
	background-color: black;
	z-index: 3;
}
.hor4 {
	grid-area: hor4;
	background-color: black;
	z-index: 3;
}
.hor5 {
	grid-area: hor5;
	background-color: black;
	z-index: 3;
}
.hor6 {
	grid-area: hor6;
	background-color: black;
	z-index: 3;
}


.lectures {
	grid-area: lectures;
	background-color: white;
	z-index: 2;
}

.info1 {
	grid-area: info1;
	z-index: 2;
}
.circles {
	padding-left: 42%;
	padding-top: 4%;

}
.circle1 {
	background-color: black;
	border-radius: 100%;
	width: 17px;
	height: 17px;
	float: left;
}
.circle2 {
	background-color: #DADADA;
	border-radius: 100%;
	width: 17px;
	height: 17px;
	float: left;
  margin-left: 6%;
}
.circle3 {
	background-color: #DADADA;
	border-radius: 100%;
	width: 17px;
	height: 17px;
	float: left;
	margin-left: 6%;
}

i {
	border: solid;
	border-width: 0 4px 4px 0;
	display: inline-block;
	padding: 6px;
}

.left {
	border-color: #DADADA;
  -webkit-transform: rotate(135deg);
	margin-left: -33.2%;
}
.left1 {
	height: 4px;
	width: 40px;
	background-color: #DADADA;
	display: inline-block;
	margin-bottom: 0.84%;
	margin-left: -3%;
}
.right {
	border-color: black;
  -webkit-transform: rotate(-45deg);
	margin-left: 45%;
}
.right1 {
	height: 4px;
	width: 40px;
	background-color: black;
	display: inline-block;
	margin-bottom: 0.84%;
	margin-left: -6%;
}
.add_black {
	background-color: black;
}
.add_black1 {
	border-color: black;
}
.add_grey1 {
	border-color: #DADADA;
	background-color: #DADADA;
}
.photo1 { grid-area: photo1;
	background-image: url(images/posters1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	z-index: 2;
}

.photo2 { grid-area: photo2;
	background-image: url(images/poster2.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
}

.last-news { grid-area: last-news;
background-color: white;
z-index: 2;
}

.bigtext {
	grid-area: bigtext;
	z-index: 2;
	/* background-color: white; */
	transition: 0.3s;
}

.white_back {
	background-color: white;
	height: 36.8%;
	width: 36.66%;
	position: absolute;
	z-index: 0;
	margin-top: 21.55vw;
	margin-left: 37.05vw;
}
.white_back1 {
	background-color: white;
	height: 26.5%;
	width: 37.2%;
	position: absolute;
	z-index: 0;
	margin-top: 6.65vw;
}
.photo3 {
	grid-area: photo3;
	background-color: white;
}

.wannabe {
	grid-area: wannabe;
	background-color: black;
	z-index: 2;
}

.red-photo { grid-area: red-photo;
background-color: white;
}
.add_white {
	background-color: white;
}
.add_grey {
	background-color: #DDDDDD;
}
.tr-over {
  background-color: #FF4A4A;
	background: #FF4A4A;
}
.april_30 {
	width: 92%;
	display: block;
}
.new_txt {
	width: 87.4%;
	display: none;
}
.if_u {
	width: 92%;
}
.cat_grey {
	margin-left: 3px;
	margin-right: 3px;
}
.greycat {
	opacity: 40%;
	width: 24.03%;
	margin-top: 5%;
	z-index: 2;
	position: absolute;
}
.redcat {
	opacity: 40%;
	width: 24.03%;
	margin-left: 51%;
	margin-top: 5%;
	z-index: 2;
	position: absolute;
}
.artcat {
	opacity: 40%;
	width: 24.03%;
	margin-top: 5%;
	margin-left: 25.5%;
	position: absolute;
		z-index: 2;
}
.bosscat {
	opacity: 40%;
	width: 24.03%;
	position: absolute;
		margin-left: 76.5%;
	margin-top: 5%;
		z-index: 2;
}
.banner_menu {
	width: 1914px;
	margin-bottom: 0px;
	/* bottom: 0px; */
	position: absolute;
	height: 128px;
  border: 3px solid black;
	z-index: 2;
}
.banner1_menu {
	width: 1914px;
	bottom: 0px;
	position: absolute;
	height: 128px;
  border: 3px solid white;

}
.black_color {
	background-color: black;
}
