  @import  url('../reset.css');
 @import url('../layout.css');
 @import "content.css";
  @import "layout.css";
 @import url('../adaptive.css');
 @import url('../animation.css');
 @font-face {
 font-family: 'Lack';
  src: url('../fonts/Lack-Regular.otf') format('opentype');
  src: url('../fonts/Lack-Regular.woff') format('woff');
  src: url('../fonts/Lack-Regular.woff2') format('woff2');
  src: url('../fonts/Lack-Regular.eot') format('eot');
 font-weight: normal;
 font-style: normal;
 }
